<!-- Custom Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?Roboto:wght@300;400;700&display=swap">

<!-- FontAwesome icons -->
<link rel="preload" href="https://use.fontawesome.com/74dfc6cf47.css" as="style"
  onload="this.onload=null;this.rel='stylesheet'">

<!-- Core BootStrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- Material Design CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/bootstrap-material-design.min.css">

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/syntax.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/thickbox.css">
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css">
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/projects.css">
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/post.css">

<script type="text/javascript">
  //loadingImage is relative to project dir
  var tb_pathToImage = "{{ site.baseurl }}/static/img/loadingAnimation.gif";
</script>