<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.abstract %}
<meta name="description" content="{{ page.abstract }}" />
<meta property="og:description" content="{{ page.abstract }}" />
{% else %}
<meta name="description" content="{{ site.description }}" />
<meta property="og:description" content="{{ site.description }}" />
{% endif %}

{% assign meta_image = page.title_img | default: site.logo | absolute_url %}
<meta property="og:image" content="{{ meta_image }}">
<meta name="twitter:image" content="{{ meta_image }}">
<meta name="keywords"
  content="{% if page.title %}{{ page.title }}{% endif %}, {% if page.categories %}{{ page.categories | join: ', ' }}{% endif %}" />
{% if page.categories %}
{% for category in page.categories limit:1 %}
<meta content="{{ category }}" property="article:section">
{% endfor %}
{%endif %}

{% if page.date or page.sitemap.lastmod %}
{% if page.sitemap.lastmod %}
<meta http-equiv="last-modified" content="{{ page.sitemap.lastmod | date_to_rfc822  }}">
{% else %}
<meta http-equiv="last-modified" content="{{ page.date | date_to_rfc822 }}">
{% endif %}
{% endif %}

<link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">

{% seo %}